.details-form-div{
  display: flex;
  flex-direction: column;
  background-color: gray;
}

.details-form-headers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  direction: rtl;
  gap: 10px;
  margin-top: 8.5vh;
  width: 75%;

  h4 {
    font-size: 0.9rem;
  }
}

.details-form-form{
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 70px;
  width: 80%;
}

.deatils-inputs{
  direction: rtl;
  padding-right: 24px;
  width:auto;
  height: 70px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-align: right;
  color: #3E3A37;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: white;
  opacity: 1;
  font-family: Assistant;
}

.left-arrow-icon{
  border: none;
}

.icons-div{
  margin-top: 17vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
}

.phone-deatils-inputs{
  direction: ltr;
}

.not-valid-text{
  color: rgb(196, 8, 8);
}