.details-form-div{
  display: flex;
  flex-direction: column;
}

.details-form-headers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  direction: rtl;
  gap: 10px;
  margin-top: 8.5vh;
  width: 75%;
}

.details-form-form{
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 70px;
  width: 80%;
}

.deatils-inputs{
  direction: rtl;
  padding-right: 24px;
  width:auto;
  height: 70px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-align: right;
  color: #3E3A37;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: white;
  opacity: 1;
}

.left-arrow-icon{
  border: none;
}

.icons-div{
  margin-top: 17vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
}