.header-div{
  height: 7.5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  position: sticky;
  top: 0;
}

.header{
  margin: auto;
}

.profile-pic{
  width: 35px;
  height: 35px;
  border-radius: 18px;
  position: absolute;
  margin-right: 14px;
}