.img-div{
  height: 50vh;
  margin-bottom: 1.5rem;
}

img {
  height: 50vh;
  width: auto; 
  max-width: 100%;
  display: block;
  margin: 0 auto;
  background-size: center;
  object-fit:cover;
}

.img-content{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}