.lets-talk-div{
  width: fit-content;
  background-color: transparent;
  margin-bottom: 1.2rem;
}

.lets-talk-button{
  min-width: 7.8rem;
  padding: 0px 1rem 0px 1rem;
  margin: 3px;
  height: 2.8rem;
  outline: none;
  border: none;
  border-radius: 0.7rem;
  background-color: #222222;
  color: #FFFFFF;;
  font-size: 1.1rem;
  font-weight: 600;
}

.button-disabled{
  color: rgb(88, 88, 88)
}

.pass-button{
  background-color: transparent;
  border: 2px solid rgb(118, 112, 112);
  color: #3E3A37;
}