.instructions-div{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
  max-width: 500px;
}

.instructions-header-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  margin-top: 25px;
  margin-bottom: 9vh; 
}

.instruction{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.75rem;
}

.dot-icon{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  color: white;
  margin-left: 7%;
}

.dot-text{
  font-size: 0.5re;
  width: 80%;
  direction: rtl;
  font-size: 0.;
}

.instructions-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  gap: 10px;
  position: absolute;
  width: 184px;
  height: 56px;
  bottom: 14vh;
  background: #216FE4;
  border-radius: 16px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}