.img-div{
  height: 50vh;
  margin-bottom: 1.5rem;
}

img {
  height: 50vh; /* Set height to 50% of the viewport height */
  width: auto; /* Set width to auto to maintain aspect ratio */
  max-width: 100%; /* Set max-width to prevent image from stretching */
  display: block; /* Set display to block to remove any vertical spacing */
  margin: 0 auto; /* Center the image horizontally */
  background-size: center;
  object-fit:cover;
    border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  


  /* border-radius; */
}